.container {
  padding: 0px;
  margin: 100px;
  z-index: 0;

  display: flex;
  justify-content: center;
  flex-direction: column; /* Yatay hizalama yerine dikey hizalama ekledik */
}

.products {
  background-color: #636e72;
  width: 100%; /* Genişlik 100% olarak değiştirildi */
  padding: 20px; /* Padding eklendi */
  box-sizing: border-box; /* Padding, genişlik ve yüksekliği içeriye dahil etmek için */
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}
