/* CartPanel.module.css */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transition: left 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.cartPanel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  background-color: #b2bec3;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
}

.cartPanelContent {
  padding: 20px;
  padding-top: 50px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Panel açıldığında */
.overlay.active {
  left: 0;
}

.cartPanel.active {
  right: 0;
}
