.contanier div {
  padding: 0px;
  margin: 100px;
  z-index: 0;

  display: flex;
  justify-content: center;
}
.div {
  z-index: 1;
}
.slider {
  background-color: yellow;
  z-index: 1;
}
.topProducts {
  background-color: #636e72;

  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}
